@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #ffffff;
}

.logo {
    height: 100%;
}

.header {
    background-color: #F2E9E4;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.nav-list {
    display: flex;
    gap: 100px;
    list-style: none;
}

.nav-link {
    color: #9A8C98;
    padding: 10px;
    border-radius: 30px;
}

.nav-link:hover {
    color:#ffffff ;
    background-color: #4A4E69;
    padding: 10px;
    border-radius: 30px;
    transition: all .3s;
}